# environments
.venv/
.idea/

# large data / external repos
zips/
calibration/dålig_lutpy_main/
calibration/**/input/
calibration/**/output/
calibration/**/VMIs/
calibration/**/.idea/
calibration/**/karins_files/

# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/