# environments
.venv/
.idea/

# large data / external repos
zips/
/calibration/bad_lutpy_main/*
!calibrations/**/create_spr_maps.py
!calibrations/**/find_optimal_vmi.py
!calibrations/**/main_nelly.ipynb

/calibration/lutpy_main/
calibration/bad_lutpy_main/
calibration/**/input/
calibration/**/output
!calibration/**/Optimal_energy
calibration/**/arkiv
calibration/**/.idea/
!calibration/**/karins_files/
calibration/**/src/*
!calibration/**/src/resources/
calibration/lutpy_main/src/*
# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

/calibration/lutpy_main/src/
